@{
    ViewBag.Title = "Contato";
    ViewBag.Tatu = "Bju mi liga!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Tatu</h3>

<address>


    <abbr title="Phone">P:</abbr>
    (11)96359-4085
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:felipemendesara123@gmail.com">felipemendesara123@gmail.com</a><br />
</address>