@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ACERTO MISERARVI!</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Regina_Cas%C3%A9.jpg" class="img-responsive" alt="Cinque Terre">
    
</div>

